.transactionContainer {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 700px;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #000;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  tbody tr:nth-child(n) {
    background-color: #fbfafa;
  }

  tbody tr:nth-child(2n) {
    background-color: #b8b7b7;
  }

  td:first-child {
    text-transform: capitalize;
    padding: 0.6% 0 0.6% 13%;
  }

  td:not(:first-child) {
    text-align: center;
  }
}
